<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.qresolve</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>322D89FA-F8F5-4DFA-8086-4F6908412D51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F87AEB98-E73E-4CA0-AB26-F0E31A829200</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3800A97A-877E-49A2-BBA1-0B584072EE03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC5AF4F2-3749-4D73-B0EB-1148B659A3E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A9F3327-5BD4-4F22-A7BF-A3D07CC84ABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>322D89FA-F8F5-4DFA-8086-4F6908412D51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA56AE52-3563-435A-AFF9-3B0D83BCB194</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>322D89FA-F8F5-4DFA-8086-4F6908412D51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDCBC1A5-F4DD-403E-83C4-FB90961C1D91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0FBEFB8-EE8A-4CCD-A1A8-6AC1A4E6E0DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0FBEFB8-EE8A-4CCD-A1A8-6AC1A4E6E0DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>322D89FA-F8F5-4DFA-8086-4F6908412D51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF3B06DE-19BC-4262-B2CC-81E69DD42EAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3800A97A-877E-49A2-BBA1-0B584072EE03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F87AEB98-E73E-4CA0-AB26-F0E31A829200</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF3B06DE-19BC-4262-B2CC-81E69DD42EAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>53569C27-D663-4A21-B7D8-228B646CA5D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE2BAF25-1E15-4D16-AE59-2A2146A47569</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Open links from QR codes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QResolve</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Link from QR Code Snapshot</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A9F3327-5BD4-4F22-A7BF-A3D07CC84ABF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:s2}</string>
				<key>title</key>
				<string>QResolve</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3800A97A-877E-49A2-BBA1-0B584072EE03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Sosumi</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>BC5AF4F2-3749-4D73-B0EB-1148B659A3E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>s</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>DF3B06DE-19BC-4262-B2CC-81E69DD42EAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[[ $nosnap -eq 1 ]] || screencapture -i /tmp/qrsnap.png
./QResolve.swift</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>322D89FA-F8F5-4DFA-8086-4F6908412D51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>QRR | Open QR Code URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>BDCBC1A5-F4DD-403E-83C4-FB90961C1D91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE2BAF25-1E15-4D16-AE59-2A2146A47569</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Failure</string>
						<key>outputlabel</key>
						<string>signal failure</string>
						<key>uid</key>
						<string>53569C27-D663-4A21-B7D8-228B646CA5D3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>launch url</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F87AEB98-E73E-4CA0-AB26-F0E31A829200</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>nosnap</key>
					<string>1</string>
					<key>qr</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D0FBEFB8-EE8A-4CCD-A1A8-6AC1A4E6E0DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BA56AE52-3563-435A-AFF9-3B0D83BCB194</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># QResolve

Resolve and open links from QR codes.

---

Created by [Patrick Sy](https://github.com/zeitlings) | [Visit on Github](https://github.com/zeitlings/alfred-workflows) | [Visit on Alfred Forum](https://www.alfredforum.com/topic/20395-qresolve-open-links-from-qr-codes/) 

---

## Usage

Take a screenshot of the QR code from which you want to open the link via the `qrr` keyword. Alternatively, send an image containing the QR code to the workflow's [Universal Action](https://www.alfredapp.com/help/workflows/triggers/universal-action/).

![QResolve Keyword Preview](images/keyword.png)
![QResolve File Action Preview](images/universal-action.png)

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) to trigger faster.</string>
	<key>uidata</key>
	<dict>
		<key>322D89FA-F8F5-4DFA-8086-4F6908412D51</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>3800A97A-877E-49A2-BBA1-0B584072EE03</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>3A9F3327-5BD4-4F22-A7BF-A3D07CC84ABF</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>BA56AE52-3563-435A-AFF9-3B0D83BCB194</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>BC5AF4F2-3749-4D73-B0EB-1148B659A3E2</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>BDCBC1A5-F4DD-403E-83C4-FB90961C1D91</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>CE2BAF25-1E15-4D16-AE59-2A2146A47569</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>D0FBEFB8-EE8A-4CCD-A1A8-6AC1A4E6E0DE</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>DF3B06DE-19BC-4262-B2CC-81E69DD42EAD</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>F87AEB98-E73E-4CA0-AB26-F0E31A829200</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>qrr</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
