{{- $preferredhostname := promptString "What should be the hostname for this system?" -}}
{{- $fullname := promptString "What is your full name" -}}
{{- $email := promptString "What is your email address" -}}
[data]
	preferredhostname = "{{ $preferredhostname }}"
	fullname = "{{ $fullname }}"
	email = "{{ $email }}"
	
