{{- $preferredhostname := promptString "What should be the hostname for this system?" -}}
{{- $fullname := promptString "What is your full name" -}}
{{- $email := promptString "What is your email address" -}}
[data]
	preferredhostname = "{{ $preferredhostname }}"
	fullname = "{{ $fullname }}"
	email = "{{ $email }}"
	gpg_key_id = "306A874F98AFF064"
	gpg_key_op_id = "soharkziyvetleqovjby4d74wy"

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"
