# Taps
tap "buo/cask-upgrade"
{{ if eq .installmode "full" -}}
tap "lars-derichter/mycasks"
{{ end -}}

# Brews
brew "bat"
brew "btop"
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "eza"
brew "fd"
brew "findutils"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-extras"
brew "git-lfs"
brew "gnu-sed"
brew "gnupg"
brew "jq"
brew "lazygit"
brew "mas"
brew "mise"
brew "moreutils"
brew "pinentry-mac"
brew "pre-commit"
brew "ripgrep"
brew "starship"
brew "tldr"
brew "tree"
brew "uv"
brew "watch"
brew "wget"
brew "yq"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
{{ if eq .installmode "full" -}}
brew "ffmpeg"
brew "go"
brew "hugo"
brew "pandoc"
{{ end -}}

# Casks
cask "claude-code"
cask "font-fira-code-nerd-font"
cask "font-source-code-pro-for-powerline"
cask "google-chrome"
cask "iterm2"
cask "visual-studio-code"
{{ if eq .installmode "full" -}}
cask "alfred"
cask "arduino-ide"
cask "autodesk-fusion"
cask "bambu-connect"
cask "bambu-studio"
cask "chitubox"
cask "claude"
cask "elegoo-slicer"
cask "font-inconsolata"
cask "font-inter"
cask "font-lato"
cask "font-material-icons"
cask "font-noto-sans"
cask "font-nunito"
cask "font-open-sans"
cask "font-playwrite-be-vlg"
cask "font-playwrite-be-vlg-guides"
cask "font-raleway"
cask "font-roboto"
cask "imageoptim"
cask "jetbrains-toolbox"
cask "keycastr"
cask "lycheeslicer"
cask "logi-options+"
cask "microsoft-excel"
cask "microsoft-powerpoint"
cask "microsoft-teams"
cask "microsoft-word"
cask "nrfutil"
cask "obsidian"
cask "onedrive"
cask "parallels"
cask "postman"
cask "raspberry-pi-imager"
cask "roon"
cask "setapp"
cask "steam"
cask "vlc"
cask "whatsapp"
{{ end -}}

# Mas
mas "BetterSnapTool", id: 417375580
{{ if eq .installmode "full" -}}
mas "Kindle", id: 302584613
mas "NordVPN", id: 905953485
mas "Pages", id: 409201541

go "github.com/catilac/plistwatch"
{{ end -}}
