[commit]
	gpgsign = true
[core]
{{- if eq .chezmoi.os "darwin" }}
	editor = code --wait
{{- else if eq .chezmoi.os "linux" }}
	editor = nano
{{- end }}
	autocrlf = input
	pager = delta
{{- if eq .chezmoi.os "darwin" }}
[gpg]
	program = {{ output "brew" "--prefix" | trim }}/bin/gpg
{{- end }}
[user]
	name = {{ .fullname }}
	email = {{ .email }}
	signingkey = {{ .gpg_key_id }}
[pull]
	rebase = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = ansi
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[merge]
	conflictstyle = zdiff3
[init]
	defaultBranch = main
