[commit]
	gpgsign = true
[core]
{{- if eq .chezmoi.os "darwin" }}
	editor = code --wait
{{- else if eq .chezmoi.os "linux" }}
	editor = nano
{{- end }}
	autocrlf = input
{{- if eq .chezmoi.os "darwin" }}
[gpg]
	program = {{ output "brew" "--prefix" | trim }}/bin/gpg
{{- end }}
[user]
	name = {{ .fullname }}
	email = {{ .email }}
	signingkey = {{ .gpg_key_id }}
[pull]
	rebase = false
[init]
	defaultBranch = main
