{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Ask for admin password upfront
sudo -v

# Install mas utility to automate the App Store
brew install "mas"

# Taps
brew tap "homebrew/core"
brew tap "homebrew/cask-versions"
brew tap "homebrew/cask-fonts"
brew tap "buo/cask-upgrade"
brew tap "lars-derichter/mycasks"

##################
#     System     #
##################

# more recent zsh
brew install "zsh"

# fix privileges for zsh completions
chmod go-w "$(brew --prefix)/share"

# switch to using brew-installed zsh as default shell
if ! fgrep -q '/usr/local/bin/zsh' /etc/shells; then
  echo '/usr/local/bin/zsh' | sudo tee -a /etc/shells;
  chsh -s /usr/local/bin/zsh;
fi;
# and start using it now
exec /"$(brew --prefix)/bin/zsh -l"

# ohmyzsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"

# gnu system utilities
brew install "coreutils"
brew install "moreutils"
brew install "findutils"
brew install "gnu-sed"

# gpg & friends
brew install "gpg"
brew install "pinentry-mac"

# downloader utilities
brew install "curl"
brew install "wget"
brew install "svn"

# manpages
brew install "tldr"

# terminal
brew cask install "iterm2"
brew cask install "font-source-code-pro-for-powerline"
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.iterm2"

#######################
#     Development     #
#######################

# editor
brew cask install "visual-studio-code"

# git & git-tools
brew install "git"
brew install "git-lfs"
brew install "git-extras"

# browsers
brew cask install "firefox"
brew cask install "google-chrome"

#######################
#     Productivity    #
#######################

# communication
mas install 1176895641 # Spark
brew cask install "microsoft-teams"
mas install 1147396723 # WhatsApp

# time management
brew cask install "rescuetime"
brew cask install "itsycal"
mas install 585829637 # Todoist

# notes
mas install 1091189122 # Bear
mas install 420212497 # Byword

# office
mas install 823766827 # Onedrive
mas install 462058435 # Microsoft Excel
mas install 462062816 # Microsoft PowerPoint
mas install 462054704 # Microsoft Word

# utilities
mas install 1333542190 # 1Password 7 - Password Manager
brew cask install "alfred"

{{ end -}}