{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Ask for admin password upfront
sudo -v

# Install mas utility to automate the App Store
brew install "mas"

# Taps
brew tap "buo/cask-upgrade"
brew tap "lars-derichter/mycasks"
brew tap sachaos/todoist


##################
#     System     #
##################

# more recent zsh
brew install "zsh"

# fix privileges for zsh completions
chmod g-w,o-w "$(brew --prefix)/share/zsh"
chmod g-w,o-w "$(brew --prefix)/share/zsh/site-functions"

# starship prompt
brew install "starship"

# gnu system utilities
brew install "coreutils"
brew install "moreutils"
brew install "findutils"
brew install "gnu-sed"

# gpg & friends
brew install "gpg"
brew install "pinentry-mac"

# downloader utilities
brew install "curl"
brew install "wget"

# manpages
brew install "tldr"

# terminal
brew install "iterm2"
brew install "font-source-code-pro-for-powerline"
brew install "font-fira-code-nerd-font"
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.iterm2"


#####################
#     Utilities     #
#####################

brew install "1password"
brew install "alfred"
mas install 417375580 # BetterSnapTool


#######################
#     Development     #
#######################

# git & git-tools
brew install "git"
brew install "git-lfs"
brew install "git-extras"

# editor
brew install "visual-studio-code"


###################
#     OHMyZSH     #
###################

# ohmyzsh Nord Theme
git clone https://github.com/fxbrit/nord-extended $ZSH/themes/nord-extended

# ohmyzsh must be last bacause of change in environment after install
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
{{ end -}}
