#!/bin/sh
set -e

{{ if eq .chezmoi.os "darwin" -}}
# Set the hostname using the chezmoi variable
sudo scutil --set HostName "{{ .preferredhostname }}"
sudo scutil --set LocalHostName "{{ .preferredhostname }}"
sudo scutil --set ComputerName "{{ .preferredhostname }}"

# Update the /etc/hosts file
sudo sed -i '' "s/^127\.0\.0\.1.*/127.0.0.1       {{ .preferredhostname }}.local {{ .preferredhostname }}/" /etc/hosts
{{ end -}}