#!/bin/sh

# [TODO: if ever necessary create function for Linux or Windows]
# [TODO: extract script]
{{ if eq .chezmoi.os "darwin" -}}
# Function to install a package if it's not installed
install_if_missing() {
    local package=$1
    if ! command -v $package &>/dev/null; then
        echo "$package is not installed. Installing..."
        brew install $package
    else
        echo "$package is already installed."
    fi
}
{{- end }}

# Ensure gnupg is installed
install_if_missing "gpg"

/usr/local/bin/gpg --import ~/.gnupg/private.key
expect -c "spawn gpg --edit-key {{ .gpg_key_id }} trust quit; send \"5\ry\r\"; expect eof"
rm ~/.gnupg/private.key

echo "\nCheck if key is shown with ultimate trust and correct identity"
/usr/local/bin/gpg --list-keys

# (re)start gpg-agent
killall gpg-agent
gpg-agent --daemon
